@import "direction";
@import "wrap";
@import "justify-content";
@import "justify-self";
@import "align-content";
@import "align-items";
@import "align-self";

@mixin flex($flex: 0 1 auto) {
  flex: $flex;
  -webkit-flex: $flex; /* Safari 6.1+ */
  -ms-flex: $flex; /* IE 10 */
}

@mixin flex-reset() {
  @include flex(0 1 auto);
}

@mixin flex-col( $col-width, $width: false ) {
  @include flex(0 0 $col-width);
  @if( $width ) {
    width: 100%;
  }
  max-width: $col-width;
}

@mixin flex-col-reset() {
  @include flex-reset;
  width: auto;
  max-width: none;
}
