/*** LTR websites ***/
$direction           :ltr !default;
$opposite-direction   :rtl !default;

$start-direction     :left !default;
$end-direction       :right !default;

$transform-direction :1 !default;

$is_rtl: false !default;